.bio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "picture"
    "text";

    @mixin atSmall{
        grid-template-columns: minmax(150px,200px) 1fr;
        grid-template-areas: "picture text";
        grid-gap: 20px;
        align-items: center;
    }

    @mixin atMedium{
        grid-template-columns: 0.5fr minmax(200px,300px) minmax(480px, 3fr) 0.5fr;
        grid-template-areas: "sidebar1 picture text sidebar2";
        grid-gap: 40px;
    }
    

    &__picture{
        grid-area: picture;

        img {
            border: 6px solid #FFF;
        }
    }

    &__text{
        grid-area: text;
        padding: 5px;

    }
}