.contact{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2,100px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    

    @mixin atSmall{
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 100px;
    }

    &__icon{
    display: block;
    transform: scale(3);
    }
}