.page-section {
    padding: 4rem 0;
    grid-column: 2 / -2;

    &--alternate{
        background-color: $secondaryColor;
        color: #FFF;

        &__bleed{

            &--left{
                background-color: $secondaryColor;
                grid-column: 1 / span 1;
            }
            &--right{
                background-color: $secondaryColor;
                grid-column: 3 / span 1;
            }
        }
    }

    &--first{
        padding-top: 6rem;
    }
}