.portfolio{
    display: grid;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
    "title"
    "image"
    "text"
    "link";
    margin-bottom: 30px;
    justify-items: center;

    &__image{
        grid-area: image;
        width: 100%;
    }

    &__title{
        grid-area: title;
        align-self: center;
        color: #FFF;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    &__tools{
        grid-area: text;
        font-weight: 200;
        font-size: 0.9rem;
        padding-bottom: 5px;
    }

    &__link{
        align-self: center;
        grid-area: link;
    }

    &__icon{
        display: inline-block;
        transform: translate(0, 25%) scale(1.5);
        margin: 0 10px;
    }

    @mixin atMedium{
        grid-template-rows: repeat(3,auto);
        grid-gap: 10px 5px;
        padding: 15px 0;
        margin-bottom: 0px;
    
        &--left{
            grid-template-columns: 0.5fr minmax(300px,500px) minmax(250px, 450px) 1fr;
            grid-template-areas: 
            "sidebar1 image title sidebar2"
            "sidebar1 image text sidebar2"
            "sidebar1 image link sidebar2";
            justify-items: start;
        }
    
        &--right{
            grid-template-columns: 1fr minmax(250px, 450px) minmax(300px,500px) 1fr;
            grid-template-areas: 
            "sidebar1 title image sidebar2"
            "sidebar1 text image sidebar2"
            "sidebar1 link image sidebar2";
            justify-items: end;
        }

        &__image{
            align-self: center;
        }
        &__link{
            align-self: start;
        }

        &__title{
            align-self: end;
        }

        &__tools{
            font-size: 1rem;
            padding-bottom: 0;
            
        }
    }
}