.portfolio{
    display: grid;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
    "title"
    "image"
    "text"
    "link";
    margin-bottom: 30px;
    justify-items: center;

    &__image{
        grid-area: image;
    }

    &__title{
        grid-area: title;
        align-self: center;
        color: #FFF;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    &__tools{
        grid-area: text;
        font-weight: 200;
        font-size: 0.9rem;
    }

    &__link{
        align-self: center;
        grid-area: link;
    }

    &__icon{
        display: inline-block;
        transform: translate(0, 25%) scale(1.5);
        margin: 0 10px;
    }

    @mixin atMedium{
        grid-template-rows: repeat(3,auto);
        grid-gap: 30px;
        padding: 15px 0;
        margin-bottom: 0px;
    
        &--left{
            grid-template-columns: 1fr 7fr 7fr 2fr;
            grid-template-areas: 
            "sidebar1 image title sidebar2"
            "sidebar1 image text sidebar2"
            "sidebar1 image link sidebar2";
            justify-items: start;
        }
    
        &--right{
            grid-template-columns: 2fr 7fr 7fr 1fr;
            grid-template-areas: 
            "sidebar1 title image sidebar2"
            "sidebar1 text image sidebar2"
            "sidebar1 link image sidebar2";
            justify-items: end;
        }
    
        &__link{
            justify-self: none;
        }

        &__title{
        }

        &__tools{
            font-size: 1rem;
        }
    }
}