.primary-nav{
    padding-top: 0px;

    ul{
        margin: 0;
        padding: 0;
    }

    li{
        list-style: none;
        display: block;
        text-transform: uppercase;
    
        @mixin atMedium{
          display: block;
          float: left;
          padding-right: 20px;
        }
      }

    &--pull-right{
        float: right;
    }

    a{
        color: $mainFontColor;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 10px 40px;
        font-size: 1.2rem;
        margin: 5px 0;
        background-color: rgba($mainColor, .9);
    
        @mixin atMedium{
          padding: 12px 0;
          font-size: 1rem;
          margin:0;
          background-color: transparent;
    
          &.is-current-link {
            color: #44484B;
          }
        }
      }
}